<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.26141116887-fh9aereoe8mqvcm5s0r8s30k6dk8ntct</string>
			</array>
		</dict>
	</array>
<key>GIDClientID</key>
	<string>26141116887-fh9aereoe8mqvcm5s0r8s30k6dk8ntct.apps.googleusercontent.com</string>
</dict>
</plist>
